@charset "UTF-8";

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;  
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  margin-bottom: 8px;
}

ul {
  padding-left: 0;
}

#pickup, #main {
  margin-bottom: 32px;
}

.wrapper {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.article-container {
  width: 32%;
}

.article-title {
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 8px;
}

.article-text {
  padding: 0 32px;
  margin-bottom: 24px;
  font-size: 1rem;
}


.header {
  min-width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.site-title {
  padding: 16px 0;
  line-height: 1px;
}

#nav {
  background-color: #333;
}

#nav ul {
  justify-content: left;
}

#nav li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

#nav a {
  color: #fff;
}

#pickup {
  padding-top: 150px;
}

#main article {
  margin-bottom: 32px;
}


.read-more {
  text-align: center;
  position: relative;
}

.read-more a {
  color: #000;
  font-size: 0.875rem;
  padding-bottom: 1px;
}



.posts-container {
  width: 64%;
}

.aside-container {
  width: 32%;
  padding: 24px 16px 0 16px;
}

.aside-content-container {
  margin-bottom: 32px;
}

.profile-img {
  text-align: center;
}

.profile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.profile-title, .ranking-title, .archive-title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.archive-list {
  border-bottom: solid 1px #000;
}

.archive-list li {
  padding: 20px;
  border-top: solid 1px #000;
  font-size: 0.875rem;
}

#footer {
  min-width: 100%;
  background-color: rgb(247, 247, 247);
}

#footer .container {
  padding: 50px 16px 50px;
  margin-bottom: 0;

}


.menu-list {
  padding-left: 0;
}

.menu-list li {
  border-top: solid 1px #000;
  padding: 16px;
}

.copylight {
  text-align: center;
}
